mat-sidenav-content {
  transition: all 0.4s ease;
  display: grid;
  grid-template-rows: 60px 1fr;
}

mat-sidenav {
  background: #7EBB06;
}

.page {
  height: 100%;
  display: grid;
}

.container-page {
  background: #fff;
  overflow: auto;
  margin: 14px 10px;
  padding: 44px 64px;
  position: relative;
  border-radius: 8px;
}
