@use "@angular/material" as mat;
@use "app/core/scss/build-theme.scss" as theme;

@include mat.core();

$primary: #7ebb06;
$secondary: #424242;
$warn: #f00;

:root {
  --primary: #7ebb06;
  --secondary: #424242;
}

$primary-color: theme.build($primary);
$secondary-color: theme.build($secondary);
$warn-color: theme.build($warn);

$it-works-challenge-primary: mat.define-palette($primary-color);
$it-works-challenge-accent: mat.define-palette($secondary-color);
$it-works-challenge-warn: mat.define-palette($warn-color);

$it-works-challenge-theme: mat.define-light-theme(
  (
    color: (
      primary: $it-works-challenge-primary,
      accent: $it-works-challenge-accent,
      warn: $it-works-challenge-warn,
    ),
    typography: mat.define-typography-config(),
  )
);

@include mat.all-component-themes($it-works-challenge-theme);

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  margin: 0;
}
